body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

/* Section Styles */
section {
    width: 80%;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Project Section */
.project {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Project Image Styles */
.project img {
    max-width: 40%; /* Adjusted from 50% to 40% to make images smaller */
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #444;
    text-align: center;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 20px;
}

/* Paragraph Styles */
p {
    margin-bottom: 15px;
    text-align: justify;
}

/* Link Styles */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        width: 90%;
    }
    
    .project img {
        max-width: 80%; /* Adjusted from 100% to 80% for responsive design */
    }
}